html, body {
    height: 100%;
    margin: 0;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

#map {
    height: 100%;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 0;
}

#style-menu {
    position: absolute;
    background: #fffff0;
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    top: 10px;
    left: 10px;
}
